
#logo{
    /* font-family:Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
         font-family:"Source Code Pro","Roboto","Poppins" ;

    font-weight: 440;
}
#ar-btn{
    max-width: 24px;
    max-height: 24px;
}
body{
    margin-top:70px ;
    /* font-family:Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
     font-family:"Source Code Pro","Roboto","Poppins" ;
    color:#2E6F40;
    background-color:#edece7 ;
    
}
#navbar{
        background-color:#edece7 ;
    color:#2E6F40;

}
#footer-link{
    text-decoration: none;
}
.checkbox{
    opacity: 0;
    position: absolute;
    display: none !important;
}
.checkbox-label{
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-moon{color:#f1c40f}
.fa-sun{color:#f39c12}
.checkbox-label .ball{
background-color: #fff;
width: 22px;
height: 22px;
position: absolute;
left:2px;
top:2px;
border-radius: 50%;
transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball{
    transform: translateX(24px);
}
.checkbox{display: none;}
#contactus-linkedin{
    font-size: 5em;
}
#nav-btn{
    border-style:none;
}
#main-section-div{
    margin-top:40px;
width: 700px;
}
#paper-plane{
    max-width: 24px;
    max-height: 24px;
}
#about-us-subtitle{
    margin-left:15px;
}
#home{
    max-width: 24px;
    max-height: 24px;
    margin-right:5px;
}
#more-vertical{
    max-width: 24px;
    max-height: 24px;
}
@media (max-width:400px) {
    body{
        font-size:12px;
    }
   
    a{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    h1,h2,h3,h4,h5{
        font-size: 1.1rem;
    }
    #main-section-div{
    margin-top:20px;
width: 200px;
}
#main-section-div h2{
   font-size: .7rem;
}
 .card{
    width: 200px;
 }   
}
@media (max-width:720px) {
    *{
        font-size:16px;
    }
    a,button{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    h1,h2,h3,h4,h5{
        font-size: 1.1rem;
    }
    
}