/* :root{ */
    /* --primary-color:#fdfffc;
    --secondary-color: #0d1b2a; */
    /* --primary-color:#0d1b2a;
    --secondary-color:#fdfffc; */
/* } */
*{
    font-family:"Source Code Pro","Roboto","Poppins" ;
}
body{
    margin-top:70px ;
    /* color:var(--primary-color); */
    /* background-color: var(--secondary-color); */
    font-family:Noto Sans Arabic,Montserrat,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    direction: rtl;
     color:#2E6F40;
    background-color:#edece7 ;
}
/* .card{
      color:#2E6F40;
    background-color:#edece7 ;
} */
/* .card ,.card-body,.card-footer,.card-title{
     color:#2E6F40;
    background-color:#edece7 ;
} */
#major1{
    font-family:"Source Code Pro","Roboto","Poppins" ;

}
/* #icon{
    cursor: pointer;
} */

.checkbox{
    opacity: 0;
    position: absolute;
    display: none !important;
}
.checkbox-label{
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-moon{color:#f1c40f}
.fa-sun{color:#f39c12}
.checkbox-label .ball{
background-color: #fff;
width: 22px;
height: 22px;
position: absolute;
left:2px;
top:2px;
border-radius: 50%;
transition: transform 0.2s linear;
}
.checkbox:checked + .checkbox-label .ball{
    transform: translateX(24px);
}
.checkbox{display: none;}

#contactus-linkedin{
    font-size: 5em;
}
#nav-btn{
    border-style: none;
}
@media (max-width:400px) {
    *{
        font-size:12px;
    }
    a{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    h1,h2,h3,h4,h5{
        font-size: 1.1rem;
    }
    
}
@media (max-width:720px) {
    *{
        font-size:16px;
    }
    a,button{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    h1,h2,h3,h4,h5{
        font-size: 1.1rem;
    }
    
}